body {
    font-family: Arial, sans-serif;
    background-image: url('Laut.jpg'); /* replace with your background image */
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

nav {
    background-color: rgba(255, 255, 255, 0.5); /* transparent background */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
}

nav a:hover {
    color: #666;
}

nav img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

label {
    margin-bottom: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

form:valid #response-message {
    display: block; /* show the message when the form is valid */
    color: #fff; /* set text color to white */
    background-color: rgba(76, 175, 80, 0.5); /* transparent background */
    padding: 10px
}